.padre{
  position: fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.nav{
  padding: 10px;
  display: flex;
  justify-content: space-around;
  background-color: #131313;

}

.btn{
  text-decoration: none;
}
.link{
  text-decoration: none;
  color: white;

}



button {
  background-color: #00000098;
  color: white;
  border: none;
  /* border-radius: 1px; */
  cursor: pointer;
  border-radius: 2px;
}
