.padre{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card{
  flex: 0 0 calc(25% - 10px);
  margin: 15px;
  -webkit-box-shadow: 14px -8px 26px -7px rgba(161,146,161,1);
  -moz-box-shadow: 14px -8px 26px -7px rgba(161,146,161,1);
  box-shadow: 14px -8px 26px -7px rgba(161,146,161,1);
  padding: 10px;
  margin-top: 30px;
  font-size: .5rem;
  border: 2px solid rgba(21, 6, 43, 0.496);
  border-radius: 20px;
  height: 500px;
  background: rgb(136,226,59);
  background: radial-gradient(circle, rgba(136,226,59,1) 41%, rgba(4,60,110,1) 46%, rgba(0,0,0,1) 79%);
  color: white;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.card:hover {
  transform: translateY(7px);
}
.image{
  padding: 10px;
  border-radius: 20px;
}
.header{
  display: flex;
  justify-content: space-around;
  margin: 0px -15px 0px -15px;
}
