
.search {
  margin: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  position: relative;
  top: -5px;
}

.search:after {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgb(255, 255, 255);
  display: block;
  content: "";
  top: 70%;
  left: 80%;
  transform: rotate(45deg);
  transform-origin: -1px 8px;
  
}